.ui-button-animated {
  position: relative;

  padding: spacing(4) spacing(8) spacing(4) spacing(7);
  color: color("background");
  font-weight: weight("medium");
  letter-spacing: 0.015em;
  background-color: color("primary");
  cursor: pointer;

  &__content {
    position: relative;
    z-index: 2;
    display: inline-block;
    vertical-align: middle;

    .content {
      &__icon {
        width: 1.2em;
        height: 1.2em;
        margin-left: spacing(4);
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  &::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    pointer-events: none;
    inset: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border: 5px solid color("background", 500, 0.35);
    z-index: 3;
  }

  //
  // Hover effect
  //
  &__content,
  &::before {
    transition: transform 400ms
      linear(
        0,
        0.0371,
        0.0732,
        0.1085,
        0.1429,
        0.1765,
        0.2092,
        0.2411,
        0.2721,
        0.3023,
        0.3318,
        0.3604,
        0.3882,
        0.4153,
        0.4416,
        0.4672,
        0.492,
        0.516,
        0.5394,
        0.5621,
        0.584,
        0.6053,
        0.6258,
        0.6457,
        0.665,
        0.6836,
        0.7016,
        0.7189,
        0.7356,
        0.7517,
        0.7673,
        0.7822,
        0.7965,
        0.8103,
        0.8236,
        0.8363,
        0.8484,
        0.8601,
        0.8712,
        0.8819,
        0.892,
        0.9017,
        0.9109,
        0.9196,
        0.9279,
        0.9357,
        0.9431,
        0.9501,
        0.9567,
        0.9629,
        0.9688,
        0.9742,
        0.9793,
        0.984,
        0.9884,
        0.9924,
        0.9961,
        0.9995,
        1.0026,
        1.0055,
        1.008,
        1.0103,
        1.0123,
        1.014,
        1.0156,
        1.0168,
        1.0179,
        1.0188,
        1.0195,
        1.0199,
        1.0203,
        1.0204,
        1.0204,
        1.0202,
        1.0199,
        1.0195,
        1.019,
        1.0184,
        1.0177,
        1.0169,
        1.016,
        1.0151,
        1.0141,
        1.0131,
        1.012,
        1.011,
        1.0099,
        1.0088,
        1.0078,
        1.0067,
        1.0058,
        1.0048,
        1.0039,
        1.0031,
        1.0023,
        1.0017,
        1.0011,
        1.0006,
        1.0003,
        1.0001,
        1
      );
  }
  // &:hover &__content,
  &:hover::before {
    transform: scale(1.05);
  }
}
